name: Update Docker Hub description

on:
  push:
    branches: [ main ]
    paths: [ README.md ]

jobs:
  docker-hub-description:
    runs-on: ubuntu-24.04-arm
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Update DockerHub description
        uses: peter-evans/dockerhub-description@1b9a80c056b620d92cedb9d9b5a223409c68ddfa # v5.0.0
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
          repository: earthbuild/dind
          short-description: The `dind` image is designed for EarthBuild targets