name: Release

on:
  pull_request_target:
    types: [ closed ]

jobs:
  release:
    name: release after merging ${{ github.head_ref }}
    if: github.event.pull_request.merged == true && startsWith(github.head_ref, 'renovate/') && endsWith(github.head_ref, '-dind-image')
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    env:
      FORCE_COLOR: 1
      EARTHLY_CONVERSION_PARALLELISM: "5"
      EARTHLY_INSTALL_ID: "earthbuild-dind-githubactions"
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      # The dind (common+alpine-kind-test and common+ubuntu-kind-test) detects
      # the host's IPv6 capability and then requires IPv6 NAT to create networks
      # for kind. So we load it here.
      # Ref: https://github.com/moby/moby/pull/47062
      - name: Load kernel module IPv6 NAT
        run: sudo modprobe ip6table_nat
      - name: Set up Docker Hub mirrors
        run: |
          sudo mkdir -p /etc/docker
          echo '{"registry-mirrors": ["https://mirror.gcr.io", "https://public.ecr.aws"]}' | sudo tee /etc/docker/daemon.json
          sudo systemctl restart docker
      - name: Set up QEMU
        run: |
          sudo apt-get update
          sudo apt-get install -y qemu-user-static binfmt-support
          sudo update-binfmts --display
      - uses: earthbuild/actions-setup@main
        with:
          version: v0.8.15
      - name: Log in to container registries (non fork only)
        run: |-
          docker login --username "${{ vars.DOCKERHUB_USERNAME }}" --password "${{ secrets.DOCKERHUB_TOKEN }}"
          docker login ghcr.io --username ${{ github.actor }} --password "${{ secrets.GITHUB_TOKEN }}"
        if: github.event.pull_request.head.repo.full_name == github.repository
      - name: Build & Push image
        run: |
          earthly --ci -P --push +release --RENOVATE_BRANCH=${{github.head_ref}} # default:ghcr.io
          earthly --ci -P --push +release --RENOVATE_BRANCH=${{github.head_ref}} --CR_HOST=docker.io
